
.body-beige {
    background-color: #f5f5dc;
    margin: 10px;
}

.body-blue {
    background-color: #325b64;
    display:flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
}

.header-beige {
    background-color:  #2F4F4F;
    padding: 25px;
    flex-direction: column;
    display: flex;
}

.nav-class {
    padding: 25px;
    background-color: #004440;
    font-weight: bold;
}

@media screen and (max-width:768px) {
    .nav-class{
	display: flex; /*adjusts size of menu to screensize*/
	flex-direction: column;
	align-items: center;
    }
}

.nav-link-class {
    color: #f5f5dc;
}

.section-title-class {
    color:  white;
}

.section-title-class-1 {
    color:  #073763;
}

.hero-section-class {
    background-color: #a2c4c9;
    padding: 25px;
    text-align: center;
    border: 5px solid  #e8dcc1;
}

.origin-section-class {
    color: #a2c4c9;
    font-weight: bold;
    background-color:  #6a6148;
    padding: 25px;
    text-align: center;
}

.testimonial-section-class {
    color: #93c47d;
    font-weight: bold;
    background-color: #0d273e;
    padding: 25px;
    text-align: center;
}

.faq-section-class {
    color:  #2F4F4F;
    background-color:  #d4e2ef;
    padding: 25px;
    text-align: center;    
}

.newsletter-section-class {
    color:  #e8dcc1;
    background-color:  #97752f;
    padding: 25px 320px 25px 320px;
    text-align: center;
}

.contact-section-class {
    color:  white;
    background-color:  #9a8354;
    padding: 25px 227px 25px 227px;
    text-align: center;
    
}

.text-origin {
      color: white;
}

.text-class  {
    color: #0d273e;
    font-weight: bold;
}


}
.image-class  {
    border: 10px solid  #e8dcc1;
    display: inline-block;
    height: auto;
    max-width: 20%;
}

@media (min-width: 768px){
    .image-class {
	max-width: 20%;}
}


.form-class {
    color: #e8dcc1;
    font-weight: bold;
}
.input-class {
    background-color: #52350b;
    color: white;
    width: 100%;
    max-width: 400px;
    height: 40px;
    font-size: 16px;
}


.button-class {
    background-color: #89693c;
    color: white;
    width: auto; 
    height: 40px; 
    font-size: 16px;
    padding: 10px 20px; }

.footer-class {
    background-color: #e8dcc1;
    padding: 10px 318px 10px 318px;
}

#text-footer {
    color: #b45f06;
}

.blockquote-class {
    color: white;
    background-color: #0f6972;
    padding: 20px;
    border: 2px solid white;
}

.text-blockquote {
    color: white;
}

.title-class {
   
    display:flex;
    flex-direction: column;
    align-items: center;
    font-size: 50px;
    color: white;
}

img {
     border: 10px solid  #e8dcc1;
}

#text-class {
    color: white;
    padding: 25px 19px 25px 19px;
}
